<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.system.dao.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.system.entity.SysOrg">
        <id column="org_id" property="orgId"/>
        <result column="org_name" property="orgName"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>


</mapper>
